<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
        <title>weather app</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="shortcut icon" href="images/logo.png" type="images/ico">
    </head>
    <body>

        {{>navbar}}

     
        <div class="containter-fluid main_header">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <div class="row">

                        <div class="col-md-12 col-12 main_header_left align-items-center">
                            <figure class="errimg">
                              <img src="images/404.jpg" alt="gangwar" class="img-fluid" title="lokesh kumar"   >
                             </figure>
                               
                            <p>welcome to Unknown Developers World</p>
                            <h1>{{errorMsg}}</h1>
                            <a href="/" ><button>go back</button></a>

                        </div>

                            
                            

                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <footer>
            <p>created with ❤️‍🔥 by lokesh kumar </p>
        </footer>
    </body>
</html>